<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Heroes N Villans</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 100px;
    }

    .herobox {border: solid 5.0px green;
              background-color:;
              }
    .villanbox {border: solid 5.0px red;
              background-color:;
              }
    .votebox {border: solid 5.0px purple;
              background-color:;
              }
    .logofont {font-size: 20;
                font-color: white;
                test-align: center;
                font-weight: bold;
              }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- /*<style>
  /*.navbar-nav {background-color: red !important;*/
        }

</style>*/ -->


</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <h1><strong>Heroes N Villans</strong></h1>
        <li><a href="/"><strong>All Brands</strong></a></li>
        <% Category.all.order("category_name").each do |category| %>
         <li>
            <a href="/heroesnvillans?cat=<%= category.category_name %>"><%=category.category_name %>
            </a>
          </li>
          <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li class="navbar-text"><%#= session[:user_first] %></li> -->
        <% user = User.find_by(:user_first => session[:user_first]) %>
        <% if user.present? %>
          <p class="navbar-text">Hi, <%= session[:user_first] %>!</p>
        <% end %>
          <% if user.present? %>
            <li><a href="/users/<%= user.id %>/show">My Profile</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/users/new">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

  <div class="container">
    <% if notice.present? %>
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>


</html>
